@font-face {
  font-family: "Urbit Sans";
  src: url('https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2')
       format('woff2');
  font-weight: 100 700;
  font-style: normal;
}

:root {
  --color-background: #1E1414;
  --color-main: #FACDB9;
  --color-subduedText: #645050;
  --color-linkText: #549EF5;
  --urbit-sans: 'Urbit Sans', monospace;
}

html {
  background-color: var(--color-background);
}

.app-container {
  width: 90vw;
  max-width: 800px;
  margin: auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0px;
  background-color: var(--color-background);
}


.header span {
  font-size: 16px;
  font-weight: bold;
}

.links-wrapper {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
}

.links-wrapper span {
  cursor: pointer;
}

.help-window {
  position: absolute;
  top: 30px;
  right: 0px;
  transform-origin: top right;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  transform: scale(0);
  opacity: 0;
  background-color: var(--color-main);
  color: var(--color-background);
  font-size: 16px;
  font-family: var(--urbit-sans);
  padding: 5px;
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.help-window.visible {
  transform: scale(1);
  opacity: 1;
}

.help-window a {
  color: var(--color-linkText);
}

div.title-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.title-container img {
  width: 100%;
  height: auto;
}

.app-title {
  font-family: var(--urbit-sans);
  font-feature-settings: 'ss03' 1;
  color: var(--color-main);
}

.app-description {
  font-family: var(--urbit-sans);
  color: var(--color-subduedText);
}

.header {
  border: 0px;
  border-bottom: 1px;
  border-color: var(--color-main);
  border-style: solid;
}

.header-text {
  font-family: var(--urbit-sans);
  color: var(--color-main);
}

.help-icon {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.hits-title {
  font-family: var(--urbit-sans);
  color: var(--color-main);
}

.inactive-link {
  color: var(--color-subduedText);
}

.table-wrapper {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--color-main);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--urbit-sans);
}

th {
  text-align: left;
  font-variation-settings: 'xtab' 500;
  font-weight: 600;
  color: var(--color-main);
  border-bottom: 1px solid var(--color-main);
  padding: 5px;
}

tr {
  border-bottom: 1px solid var(--color-main);
  display: table-row;
}

td {
  color: var(--color-main);
  display: table-cell;
  box-sizing: border-box;
  padding: 5px;
}

tbody tr:last-child {
  border-bottom: none;
}

td .text-wrapper {
  height: 60px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.app-icon {
  width: 110px;
  min-width: 110px;
  height: 110px;
  padding: 0px;
  border-left: none;
  border-right: 1px solid var(--color-main);
}

td.app-icon img {
  width: 110px;
  height: 110px;
  display: block;
}

th.index-header {
  text-align: center;
  border-right: 1px solid var(--color-main);
}

th.icon-header {
  text-align: left;
  border-right: 1px solid var(--color-main);
}

th.info-header {
  border-bottom: 1px solid var(--color-main);
}

th.download-header {
  text-align: center;
  border-left: 1px solid var(--color-main);
}

td.app-index {
  text-align: center;
  font-size: 24px;
  border-right: 1px solid var(--color-main);
}

td.app-name-desc {
  border: none;
  font-size: 16px;
  vertical-align: top;
}

td.app-name-desc .app-title {
  white-space: nowrap;
}

td.app-info {
  vertical-align: top;
}

td.app-button {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid var(--color-main);
}

table button {
  background-color: var(--color-main);
  color: var(--color-background);
  font-family: var(--urbit-sans);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
}

span.info-publisher {
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

span.info-website {
  color: var(--color-linkText);
  white-space: nowrap;
}

@media only screen and (max-width: 700px) {
  .help-window {
    position: absolute;
    top: 30px;
    right: 0px;
    transform-origin: top right;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    transform: scale(0);
    opacity: 0;
    background-color: var(--color-main);
    color: var(--color-background);
    font-size: 16px;
    font-family: var(--urbit-sans);
    padding: 5px;
    width: 200px;
    height: auto;
    border-radius: 5px;
  }

  .header span {
    font-size: 16px;
  }

  th.info-header {
    display: none;
  }

  td.app-name-desc {
    border: none;
    font-size: 16px;
    vertical-align: top;
  }

  table button {
    font-size: 16px;
  }

  th.icon-header {
    display: none;
  }

  td.app-icon {
    display: none;
  }

  td .text-wrapper {
    height: 100%;
    max-height: none;
    margin: auto;
    overflow: visible;
  }
}

@media only screen and (max-width: 374px) {
  .help-window {
    font-size: 12px;
  }

  .header span {
    font-size: 12px;
  }

  td.app-index {
    font-size: 18px;
  }

  td.app-name-desc {
    font-size: 12px;
  }

  table button {
    font-size: 12px;
  }
}
