@font-face {
  font-family: 'Urbit Sans';
  src: url('https://media.urbit.org/fonts/UrbitSans/UrbitSansVFWeb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-background: #1E1414;
  --color-main: #FACDB9;
  --color-subduedText: #645050;
  --color-linkText: #549EF5;
  --urbit-sans: 'Urbit Sans', sans-serif;
}

html {
  background-color: var(--color-background);
}

.app-container {
  width: 90vw;
  max-width: 1000px;
  margin: auto;
}

.app-title {
  font-family: var(--urbit-sans);
  font-feature-settings: 'ss03' 1;
  color: var(--color-main);
}

.app-description {
  font-family: var(--urbit-sans);
  color: var(--color-subduedText);
}

.header {
  border: 0px;
  border-bottom: 1px;
  border-color: var(--color-main);
  border-style: solid;
}

.header-text {
  font-family: var(--urbit-sans);
  color: var(--color-main);
}

.hits-title {
  font-family: var(--urbit-sans);
  color: var(--color-main);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-main);
  font-family: var(--urbit-sans);
}

th {
  text-align: left;
  color: var(--color-main);
  border: 1px solid var(--color-main);
}

td {
  color: var(--color-main);
  border: 1px solid var(--color-main)
}

td img {
  width: 100%;
  max-width: 50px;
  height: auto;
}

tr {
  border: 1px solid var(--color-main)
}

table button {
  background-color: var(--color-main);
  color: var(--color-background);
}
